@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Robert Brands" />
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval'; script-src * 'unsafe-inline' 'unsafe-eval'; style-src * 'unsafe-inline'; img-src * data:;">
    @if (!String.IsNullOrEmpty(ViewBag.Keywords ?? String.Empty))
    {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }
    else
    {
        <meta name="keywords" content="Fotografie,Radfahren,Freelancer,Cloud-Architekt,Web-Entwicklung,Rennrad,Köln" />
    }
    @if (!String.IsNullOrEmpty(ViewBag.Description ?? String.Empty))
    {
        <meta name="description" content="@ViewBag.Description" />
        <meta property="og:description" content="@ViewBag.Description" />
        <meta name="twitter:description" content="@ViewBag.Description" />
    }
    else
    {
        <meta name="description" content="Robert Brands - Solution Architect, Fotograf, Radfahrer." />
        <meta property="og:description" content="Robert Brands - Solution Architect, Fotograf, Radfahrer." />
        <meta name="twitter:description" content="Robert Brands - Solution Architect, Fotograf, Radfahrer." />
    }
    @if (!String.IsNullOrEmpty(ViewBag.Image ?? String.Empty))
    {
        <meta property="og:image" content="@ViewBag.Image" />
        <meta name="twitter:image" content="@ViewBag.Image" />
    }
    else
    {
        <meta property="og:image" content="https://robert-brands.com/images/robert-profil.jpg" />
        <meta name="twitter:image" content="https://robert-brands.com/images/robert-profil.jpg" />
    }
    @if (!String.IsNullOrEmpty(ViewBag.Title ?? String.Empty))
    {
        <meta property="og:title" content="@ViewBag.Title" />
        <meta name="twitter:title" content="@ViewBag.Title" />
    }
    else
    {
        <meta property="og:image" content="https://robert-brands.com/images/robert-profil.jpg" />
        <meta name="twitter:image" content="https://robert-brands.com/images/robert-profil.jpg" />
    }
    <meta http-equiv="content-language" content="de-de" />
    @if (ViewBag.NoRobots ?? false)
    {
        <meta name="robots" content="noindex, nofollow" />
    }
    <environment include="Staging,Development">
        <meta name="robots" content="noindex, nofollow">
    </environment>
    @RenderSection("Metatags", required: false)
    <title>@ViewData["Title"] - robert-brands.com</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/open-iconic/font/css/open-iconic-foundation.css" rel="stylesheet">
    @RenderSection("CSS", required: false)
    @RenderSection("HeaderScripts", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">robert-brands.com</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto flex-grow-1">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Featured
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="/Fotos/mont-ventoux">Mont Ventoux</a>
                                <a class="dropdown-item" href="/rad/routedesgrandesalpes">Route des Grandes Alpes</a>
                                <a class="dropdown-item" href="/Fotos/Korsika">Korsika</a>
                                <a class="dropdown-item" href="/Fotos/Vietnam">Vietnam</a>
                                <a class="dropdown-item" href="/Fotos/Marokko">Marokko</a>
                                <a class="dropdown-item" href="/rad/scuderia">Scuderia Südstadt</a>
                                @if (User.IsInAnyRole(KnownRoles.Admin, KnownRoles.User))
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-page="/Fotos/Album">Fotoalbum</a>
                                    <a class="dropdown-item" asp-page="/Blog/Index">Blog</a>
                                    <a class="dropdown-item" asp-page="/Rad/Collections">Tour-Collections</a>
                                }

                            </div>
                        </li>

                        <!--  <li class="nav-item"><a class="nav-link" asp-page="/Blog/Index">Blog</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="/Blog/Artikel/freelancer">Freelancer</a></li>
                        <li class="nav-item"><a class="nav-link" asp-page="/Fotos/Index" asp-route-category="">Fotos</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" asp-page="/Termine/Index" asp-route-permalink="">Termine</a></li> -->
                        <li class="nav-item"><a class="nav-link" asp-page="/Rad/Ausfahrten" asp-route-category="" asp-route-permalink="">Radausfahrten</a></li>
                        <li class="nav-item"><a class="nav-link" asp-page="/Rad/Reisen" asp-route-category="" asp-route-permalink="">Radreisen</a></li>

                        @if (User.IsInRole(KnownRoles.Admin))
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown02">
                                    <a class="dropdown-item" asp-page="/Admin/ActivityLog">ActivityLog</a>
                                    <a class="dropdown-item" asp-page="/Rad/NewTrackLink">Neuer Track</a>
                                    <a class="dropdown-item" asp-page="/Fotos/NewFotoLink">Neuer Fotolink</a>
                                    <a class="dropdown-item" asp-page="/Shortcuts/New">Neuer Shortcut</a>
                                    <a class="dropdown-item" asp-page="/Shortcuts/Index">Liste aller Shortcuts</a>
                                    <a class="dropdown-item" asp-page="/Admin/Kategorien">Kategorien verwalten</a>
                                    <a class="dropdown-item" asp-page="/Admin/Environment">Claims</a>
                                    <a class="dropdown-item" asp-page="/Admin/Headers">Headers</a>
                                    <a class="dropdown-item" asp-page="/Events/NewEventRegistration">Neue Eventregistrierung</a>
                                    <a class="dropdown-item" asp-page="/Events/ListEventRegistrations">Liste aller Events</a>
                                </div>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
        <main role="main">
            @RenderBody()
        </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - robert-brands.com - 2024-12-09 | <a asp-page="/About">Über</a> | <a asp-page="/Contact">Impressum</a>
            @if (User.Identity.IsAuthenticated && User.IsAdmin()) {
                <text>| Admin</text>
            }
            </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
