@using System.Security.Claims
@using robert_brands_com.Models;
@model IEnumerable<TrackItem>;

<div class="row">
    @foreach (TrackItem track in Model)
    {
        <div class="col-md-4">
            <div class="card box-shadow">
                <div class="card-header">
                    @track.CategoryDisplay
                </div>
                @if (!String.IsNullOrEmpty(track.ImageLink))
                {
                    <img class="card-img-top" src="@track.ImageLink" alt="@track.ShortTitle">
                }
                <div class="card-body">
                    <h5 class="card-title">@track.Title</h5>
                    <div class="card-text">
                        @if (!String.IsNullOrEmpty(track.Length))
                        {
                            <p>@track.Length</p>
                        }
                        @Html.Raw(track.Description)
                        @if (!String.IsNullOrEmpty(track.UrlTitle))
                        {
                            <p><a asp-route-category="@track.Category.ToLower()" asp-route-permalink="@track.UrlTitle">Mehr ...</a></p>
                        }

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                @if (!String.IsNullOrEmpty(track.StravaLink))
                                {
                                    <a href="@track.StravaLink" target="_blank" title="Strava @track.ShortTitle" class="btn btn-sm btn-outline-secondary">
                                        Strava
                                    </a>
                                }
                                @if (!String.IsNullOrEmpty(track.GpsiesLink))
                                {
                                    <a href="@track.GpsiesLink" target="_blank" title="GPSies @track.ShortTitle" class="btn btn-sm btn-outline-secondary">
                                        @(track.IsGpxFile ? "GPX" : "GPSies")
                                    </a>
                                }
                                @if (!String.IsNullOrEmpty(track.KomootLink))
                                {
                                    <a href="@track.KomootLink" target="_blank" title="Komoot @track.ShortTitle" class="btn btn-sm btn-outline-secondary">
                                        Komoot
                                    </a>
                                }
                                @if (!String.IsNullOrEmpty(track.PhotosLink))
                                {
                                    <a href="@track.PhotosLink" target="_blank" title="Fotos @track.ShortTitle" class="btn btn-sm btn-outline-secondary">Fotos</a>
                                }
                                else if (!String.IsNullOrEmpty(track.FlickrLink))
                                {
                                    <a href="@track.FlickrLink" target="_blank" title="Fotos @track.ShortTitle" class="btn btn-sm btn-outline-secondary">Fotos</a>
                                }
                                @if (!String.IsNullOrEmpty(track.VideoLink))
                                {
                                    <a href="@track.VideoLink" target="_blank" title="Video @track.ShortTitle" class="btn btn-sm btn-outline-secondary">Video</a>
                                }
                                @if (User.IsInRole(KnownRoles.Admin))
                                {
                                    <a asp-page="/Rad/NewTrackLink" asp-page-handler="changelink" asp-route-documentid="@track.Id" class="btn btn-sm btn-outline-secondary">
                                        <span class="fi-pencil" title="Ändern" aria-hidden="true"></span>
                                    </a>
                                    <a asp-page-handler="deletelink" asp-route-documentid="@track.Id" class="btn btn-sm btn-outline-secondary">
                                        <span class="fi-trash" title="Löschen" aria-hidden="true"></span>
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="card-text text-right"><small class="text-muted">@track.Date.ToString("dd.MM.yyyy")</small></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


