@page "{permalink?}/{language?}"
@using System.Security.Claims
@using robert_brands_com.Models
@model robert_brands_com.Pages.Blog.ArtikelModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@section CSS {
    <link rel="stylesheet" href="~/css/blog.css" />
    <style>
    .message-box {
        border: 1px solid #ccc; /* Rahmenfarbe */
        background-color: #f9f9f9; /* Hintergrundfarbe */
        padding: 15px; /* Innenabstand */
        margin-top: 10px; /* Abstand nach oben */
        border-radius: 5px; /* Abgerundete Ecken */
        font-size: 14px; /* Schriftgröße */
        color: #333; /* Schriftfarbe */
    }
</style>  
}
<div class="container">
    @if (!String.IsNullOrEmpty(Model.ReferencedArticle.FlickrLink))
    {
        <div class="row">
            <div class="col">
                <div class="card">
                    <a target="_blank" data-flickr-embed="true" data-header="@Model.ReferencedArticle.FlickrHeader.ToString().ToLower()" data-footer="@Model.ReferencedArticle.FlickrFooter.ToString().ToLower()" href="@Model.ReferencedArticle.FlickrLink" title="@Model.ReferencedArticle.Title bei Flickr"><img class="img-fluid card-img-top" src="@Model.ReferencedArticle.FlickrLinkImage" alt="Flickr"></a>
                </div>
            </div>
        </div>
    }
    <div class="jumbotron p-3 p-md-5 rounded">
        <div class="row">
            <div class="col-md-8 px-0">
                <h1 class="display-4">@Model.ReferencedArticle.Title</h1>
                @if (!String.IsNullOrEmpty(Model.ReferencedArticle.SubTitle))
                {
                    <h2 class="subtitle">@Model.ReferencedArticle.SubTitle</h2>
                }
                <div class="lead my-3 text-muted small">
                    @Model.ReferencedArticle.Date.ToString("dd.MM.yyyy")
                </div>
                <div class="lead my-3">
                    @if (!String.IsNullOrEmpty(Model.ReferencedArticle.Link))
                    {
                        <p>
                            <a href="@Model.ReferencedArticle.Link" target="_blank" title="@Model.ReferencedArticle.Title">@(Model.ReferencedArticle.LinkTitle ?? "Siehe auch ...")</a>
                        </p>
                    }
                    @Html.Raw(Model.ReferencedArticle.Summary)
                    @if (Model.Language != "de")
                    {
                        <a asp-route-language="" class="btn btn-sm btn-outline-secondary" rel="nofollow">Deutsch</a>
                    }
                    @if (Model.Language != "en")
                    {
                        <a asp-route-language="en" class="btn btn-sm btn-outline-secondary" rel="nofollow">English</a>
                    }
                    @if (Model.Language != "fr")
                    {
                        <a asp-route-language="fr" class="btn btn-sm btn-outline-secondary" rel="nofollow">Français</a>
                    }
                    @if (Model.Language != "es")
                    {
                        <a asp-route-language="es" class="btn btn-sm btn-outline-secondary" rel="nofollow">Espagnol</a>
                    }
                    @if (!String.IsNullOrEmpty(Model.Message))
                    {
                        <p class="message-box">
                            @Model.Message
                        </p>
                    }
                </div>
            </div>
            <div class="col">
                @if (!String.IsNullOrEmpty(Model.ReferencedArticle.ImageLink))
                {
                    <img class="img-fluid" src="@Model.ReferencedArticle.ImageLink" alt="@Model.ReferencedArticle.Title">
                }
            </div>
        </div>
    </div>
    @if (!String.IsNullOrEmpty(Model.ReferencedArticle.ArticleContent))
    {
        @Html.Raw(Model.ReferencedArticle.ArticleContent)
    }
</div>
@section Metatags {
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image" />
}

@section Scripts {
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
}

