@page
@using System.Security.Claims
@using robert_brands_com.Models
@model IndexModel
@{
    ViewData["Title"] = "Robert Brands";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="fotoCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.PhotoList.Count(); ++i)
                    {
                        <li data-target="#fotoCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @foreach (CommentedLinkItem photoLink in Model.PhotoList)
                    {
                        <div class="carousel-item @(Model.PhotoLinkOffset == 0 ? "active" : "")">
                            <a href="@photoLink.Link" target="_blank"><img class="img-fluid" src="@photoLink.ImageLink" alt="@photoLink.ShortTitle" /></a>
                            <div class="carousel-caption">
                                <a href="@photoLink.Link" class="h2 text-white" target="_blank">@photoLink.Title</a>
                            </div>
                            <span class="invisible">@(Model.PhotoLinkOffset++)</span>
                        </div>
                    }
                    <a class="carousel-control-prev" href="#fotoCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Zurück</span>
                    </a>
                    <a class="carousel-control-next" href="#fotoCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="sr-only">Vorwärts</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title">Freelancer</h4>
                    <p class="card-text">
                        <ul class="profile-links">
                            <li class="profile-link-item">
                                <div class="badge-base LI-profile-badge" data-locale="de_DE" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="robertbrands" data-version="v1">
                                    <a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/robertbrands?trk=profile-badge"></a>
                                </div>                            
                            </li>
                            <li class="profile-link-item">
                                <a href="https://github.com/rbrands">
                                    <img src="~/images/github-mark.png" alt="GitHub" height="33" class="profile-link-icon">Mein GitHub
                                </a>
                            </li>
                            <li class="profile-link-item">
                                <a href="/Freelancer">
                                    <img src="~/images/robert-profil.jpg" class="profile-link-icon">Profil
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title">Social</h4>
                    <p class="card-text">
                        <ul class="social-links">
                            <li>
                                <a href="https://www.strava.com/athletes/robert_brands">
                                    <img src="~/images/strava-logo.png" alt="Strava" class="social-logo">Strava
                                </a>
                            </li>
                            <li>
                                <a href="https://www.komoot.com/de-de/user/302301092673">
                                    <img src="~/images/komoot-logo.png" alt="Komoot" class="social-logo">Komoot
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/rbrands1961/">
                                    <img src="~/images/instagram-logo.png" alt="Instagram" class="social-logo">Instagram
                                </a>
                            </li>
                            <li>
                                <a href="https://www.flickr.com/photos/rbrands/">
                                    <img src="~/images/flickr-logo.png" alt="Flickr" class="social-logo">Flickr
                                </a>
                            </li>
                            <li>
                                <a href="https://vimeo.com/robertbrands">
                                    <img src="~/images/vimeo-logo.png" alt="Vimeo" class="social-logo">Vimeo
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0">
                <div class="card-body">
                    @if (Model.Headline != null)
                    {
                        <h4 class="card-title">
                            @Model.Headline.Title
                            @if (User.IsInAnyRole(KnownRoles.Admin))
                            {
                                <a asp-page="/Blog/NewArticle" asp-page-handler="customized" asp-route-callingpage="/Index"
                                   asp-route-listname="Homepage"
                                   asp-route-logicalkey="homepage-headline"
                                   asp-route-timetolive="0"
                                   asp-route-featuredenabled="false"
                                   asp-route-nickname="false"
                                   asp-route-titlelink="false"
                                   asp-route-link="false"
                                   asp-route-tags="false"
                                   asp-route-image="false"
                                   class="btn btn-sm btn-outline-secondary">
                                    <span class="fi-pencil" title="Ändern" aria-hidden="true"></span>
                                </a>
                            }
                        </h4>
                        <div class="card-text">
                            @Html.Raw(Model.Headline.ArticleContent)
                        </div>
                    }
                    else if (User.IsInAnyRole(KnownRoles.Admin))
                    {
                        <div class="card-text">
                            <a asp-page="/Blog/NewArticle" asp-page-handler="customized" asp-route-callingpage="/Index" asp-route-listname="Homepage" asp-route-logicalkey="homepage-headline" asp-route-featuredenabled="false" asp-route-timetolive="0" class="btn btn-sm btn-outline-secondary">
                                <span class="fi-pencil" title="Ändern" aria-hidden="true"></span>
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</div>


<style>
    .social-links {
        list-style: none;
        padding: 0;
    }

    .social-links li {
        margin-bottom: 10px;
    }

    .social-links a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .social-logo {
        width: 34px;
        margin-right: 8px;
    }

    .profile-links {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .profile-link-item {
        margin-bottom: 10px;
    }

    .profile-link-item a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    .profile-link-icon {
        margin-right: 8px;
        width: 33px;
        height: auto;
    }
    .badge-base {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
</style>
@section Scripts {
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
}
